server:
  port: 8282

spring:
  application:
    name: auth-server

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    continue-on-error: true
    url: jdbc:h2:mem:devdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=Oracle
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: embedded
      schema-locations: classpath:data/schema.sql
      data-locations: classpath:data/data.sql

  h2:
    console:
      enabled: true
      path: /h2-console
      settings.trace: false
      settings.web-allow-others: false


# CORS placeholder (used by a CorsConfiguration bean later)
app:
  api:
    base-path: /api
  cors:
    allowed-origins:
      - http://localhost:4201
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowed-headers:
      - Authorization
      - Content-Type
    allow-credentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org:
      springframework:
        jdbc:
          datasource:
            init: DEBUG